/*If screen size: 1239 x 764, shift to alternate layout*/
.App {
  text-align: center;
}

@media only screen and (max-width: 380px) {
  .two .about-text p {
    font-size: 0.8125rem;
  }
  .two .card-container .projectDesc p {
    font-size: 0.8125rem;
  }
}

@media only screen and (max-width: 460px) {
  .one .links .nav-link {
    font-size: 0.7rem;
    padding: 0.5rem 0.2rem;
  }
}

@media only screen and (max-width: 700px) {
  .back .flex-about {
    flex-direction: column;
  }
  .back .about-text {
    padding: 0px;
  }
  .about-col2 {
    padding: 20px;
  }
  .about-col1 {
    visibility: hidden;
  }
  .about-col1 .aboutImg {
    height: 0px;
    width: 0px;
  }
}

@media only screen and (max-width: 1090px) {
  @media only screen and (max-height: 920px) {
    .one .nav-heading .Avatar {
      visibility: hidden;
      padding-top: 0px;
      width: 0px;
    }
    .one .nav-heading {
      padding: 10px;
      padding-top: 0px;
    }
  }

  .flexbox-container {
    flex-direction: column !important;
  }
  .flexbox-container .one {
    width: auto;
    min-width: 0px;
    height: 25vh;
    min-height: 150px;
  }

  .social-container {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .one {
    position: relative;
  }
  .nav-heading .Avatar {
    padding: 0px;
    width: 10vh;
  }
  .one .links {
    padding: 0px;
    padding-bottom: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .links .flex-column {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  .nav-link {
    flex: 1;
  }
  .col {
    padding: 10px;
  }

  .flexbox-container .two {
    min-width: 0px;
  }

  .two .back {
    min-height: 0;
    min-width: 0;
    height: 75vh;
  }

  .experienceContainer {
    padding: 0px !important;
  }
  .box {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .projectDesc {
    padding: 5px !important;
  }
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.one {
  width: 25%;
  min-width: 240px;
}

.two {
  width: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-heading {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav-name {
  font-size: 35px;
  font-family: "Cedarville Cursive", cursive;
}
.nav-sub {
  color: grey;
}

.Avatar {
  padding-top: 30px;
  width: 180px;
}

p {
  line-height: 1.5;
  padding-top: 15px;
  font-size: 16px;
}

p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.contact {
  padding-top: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}

.about-text {
  padding: 50px;
  padding-left: 15px;
  padding-right: 35px;
}

.sub {
  color: grey;
}

.links {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.nav-link {
  color: black !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}
.social-container {
  display: flex;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}
.col {
  flex: 1;
  padding-top: 40px;
}

.flex-about {
  display: flex;
  height: 100%;
}

.about-col {
  flex: 1;
  display: flex;
}

*.icon-grey {
  color: black;
  opacity: 0.3;
}

.aboutImg {
  display: block;
  margin: auto;
  max-width: 85%;
  max-height: 85%;
  height: auto;
  width: auto;
  border-radius: 25px;
}

.box {
  padding: 40px;
}

.skill-bars {
  padding: 10px;
  padding-top: 20px;
}

.card-container {
  padding-left: 20px;
  padding-right: 20px;
}

.projectCard {
  display: grid;
  align-content: center;
  grid-template-columns: 40% auto;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 9px 20px -5px rgb(0 0 0 / 50%);
}

.card-container > div {
  margin-bottom: 30px;
}
.pictureContainer {
  position: relative;
  border-radius: 5px 0 0 5px;
  background-color: rgb(235, 233, 211);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.projectPicture {
  max-height: 380px;
  width: 100%;
  object-fit: contain;
}

.projectDesc {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  color: darkslategrey;
}

.projectDesc > h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #2c3e50;
}

button {
  padding: 0.7rem 1.2rem !important;
  font-size: 0.7rem !important;
  text-transform: uppercase !important;
  letter-spacing: 3px;
  color: #ecf0f1;
  background-color: #1abc9c;
  border-radius: 0.25rem !important;
  transition: 0.25s;
  border: none;
}

.projectDate {
  position: absolute;
  background-color: rgba(44, 62, 80, 0.95);
  color: #ecf0f1;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  top: 1rem;
  left: 1rem;
}

.back {
  margin: 0;
  height: 100vh;
  min-height: 560px;
  min-width: 850px;
  text-align: center;
  background-position: center;
  background-size: cover;
  display: flex;
}
