.App {
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.two {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-heading {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav-name {
  font-size: 35px;
  font-family: "Cedarville Cursive", cursive;
}
.nav-sub {
  color: grey;
}

.Avatar {
  padding-top: 30px;
  width: 180px;
}

p {
  line-height: 1.5;
  padding-top: 15px;
  font-size: 16px;
}

p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.contact {
  padding-top: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}

.about-text {
  padding: 50px;
}

.sub {
  color: grey;
}

.links {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.nav-link {
  color: black !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}
.social-container {
  display: flex;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}
.col {
  flex: 1;
  padding-top: 80px;
}

.flex-about {
  display: flex;
  height: 100%;
}

.about-col {
  flex: 1;
}

*.icon-grey {
  color: black;
  opacity: 0.3;
}

.aboutImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
  border-radius: 25px;
  margin-top: 6%;
}

.skill-box {
  padding: 40px;
}

.skill-bars {
  padding: 10px;
  padding-top: 20px;
}
