.App {
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.two {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-heading {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav-name {
  font-size: 35px;
  font-family: "Cedarville Cursive", cursive;
}
.nav-sub {
  color: grey;
}

.Avatar {
  padding-top: 30px;
  width: 180px;
}

p {
  padding: 40px;
  line-height: 1.5;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  padding-left: 40px;
}

.links {
  text-align: center;
  padding-top: 20px;
}

.nav-link {
  color: black !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}
